{% extends "store/base.html" %}

{% block content %}
  <main>
    <div class="container" style="margin-top: 80px;">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Style</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in items %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.product.title }}</td>
            <td>{{ order_item.product.style }}</td>


            <td>
                <span class="mr-1">
                    <del>${{ order_item.product.price }}</del>
                  </span>
                  <span class="fw-bold">${{ order_item.product.discount_price }}</span>
            </td>


            <td>
                <a href=""><i data-product="{{ order_item.product.id }}" data-action="remove"
                              class="fas fa-minus mr-2 update-cart"></i></a>
                {{ order_item.quantity }}
                <a href=""><i
                        data-style="{{ order_item.product.style }}"
                        data-product="{{ order_item.product.id }}" data-action="add"
                              class="fas fa-plus ml-2 update-cart" ></i></a>
            </td>
            <td>
            {% if order_item.product.discount_price %}
                ${{ order_item.product.discount_price }}
                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total }}
            {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount|floatformat:2 }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_cart_items %}
        <tr>
            <td colspan="4"><b>Subtotal</b></td>
            <td><b>${{ object.get_cart_total|floatformat:2 }}</b></td>
        </tr>
        <tr>
            <td colspan="4"><b>Shipping</b></td>
            <td><b>${{ object.get_shipping|floatformat:2 }}</b></td>
        </tr>
        <tr>
            <td colspan="4"><b>Total</b></td>
            <td><b>${{ object.total|floatformat:2 }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href="{% url 'store:checkout' %}">Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}