{% load cart_template_tags %}
{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top theme">
  <!-- Container wrapper -->
  <div class="container">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
      <img
        src="{% static 'imgs/rama_logo.png' %}"
        height="16"
        alt="Rama Shades - Quality Sunglasses At Affordable Prices."
        loading="lazy"
        style="margin-top: -1px;"
        class="responsive"
      />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:about_us' %}">About Us</a>
        </li>


        <li class="nav-item dropdown ms-lg-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            Sunglasses
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            {% for category in categories %}
              <li>
                <a class="dropdown-item" href="{% url 'store:prod_category' category %}">{{ category }}</a>
              </li>
            {% endfor %}

            <li>
              <hr class="dropdown-divider" />
<!--            </li>-->
<!--            <li>-->
<!--              <a class="dropdown-item" href="#">Hot Items</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a class="dropdown-item" href="#">Newest Styles</a>-->
<!--            </li>-->
            <li>
              <a class="dropdown-item" href="#">See All</a>
            </li>
          </ul>
        </li>

      </ul>

      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-3">



        <!-- Account Dropdown -->
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle mt-1 dt-cust" href="#" id="accountDropdown" role="button" data-mdb-toggle="dropdown"
             aria-expanded="false">
            <i class="fas fa-user-alt"></i>
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
            style="background-color: #fbdfe3;">
            {% if request.user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="">Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Past Orders</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="{% url 'account_login' %}">Log In</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
              </li>


            {% endif %}
          </ul>
        </li>

        <li class="nav-item me-lg-0">
          <a class="nav-link" href="{% url 'store:order-summary' %}">
            <i class="fas fa-shopping-cart"></i>
              <span class="badge red z-depth-1 mr-1"  style="display: contents;"> {{ cart_items }} </span>
          </a>
        </li>
      </ul>

      <!-- Search -->
      <form class="w-auto" style="margin-block-end: unset;">
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </form>

    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->