
{% extends "store/base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <img id="expandedImg" src="{{ object.image.url }}" class="img-fluid" alt=""
                onmouseover="this.src='{{ object.image_hover.url }}';"
                onmouseout="this.src='{{ object.image.url }}';" />
        </div>
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="text-dark fs-5">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
                <span class="mr-1">
                  <del>${{ object.price }}</del>
                </span>
                <span>${{ object.discount_price }}</span>
              {% else %}
                <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead fs-3">{{ object.title }}</p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>

            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>


          <!--Product Styles -->
          <div class="ms-2 ps-2 fs-8">
            Style: <span class="text-muted">Style 2</span>
          </div>
          <ul class="d-flex list-unstyled">
            <li class="p-2 mx-2">
              <div class="">
                <img src="https://ae01.alicdn.com/kf/H62405224155f41a7839d30d2764de5bdU/Custom-Stainless-Steel-Name-
                Necklace-For-Women-Girl-Personalized-Boho-Rainbow-Soft-Pottery-Choker-Pendant-Jewelry.jpg_50x50.jpg_.webp"
                     class="box" title="Style 1" alt="Style 1" onclick="myFunction(this);">
              </div>
            </li>
            <li class="p-2">
              <div class="">
                <img src="https://ae01.alicdn.com/kf/H5841a7d35532476da5d841c2d02f7a07M/Custom-Stainless-Steel-Name-
                Necklace-For-Women-Girl-Personalized-Boho-Rainbow-Soft-Pottery-Choker-Pendant-Jewelry.jpg_50x50.jpg_.webp"
                     class="box" title="Style 2" alt="Style 2" onclick="myFunction(this);">
              </div>
            </li>
          </ul>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6">

          <p class="text-left my-4">{{ object.additional_info|safe }}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">
        {% for image in images %}
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 bg-image">
            <img src="{{ image.image.url }}" class="img-fluid" alt="">
<!--            <div-->
<!--              class="mask"-->
<!--              style="-->
<!--                background: rgb(247,235,237);-->
<!--                background: linear-gradient(180deg, rgba(247,235,237,1) 0%, rgba(247,235,237,0.3) 47%, rgba(247,235,237,1) 100%),-->
<!--                  linear-gradient(93deg, rgba(247,235,237,1) 17%, rgba(247,235,237,0.3) 47%, rgba(247,235,237,1) 79%);-->

<!--              "-->
<!--            ></div>-->
          </div>
          <!--Grid column-->
        {% endfor %}

      </div>
      <!--Grid row-->

    </div>

    <script type="text/javascript">
      function myFunction(imgs) {

        // Get the expanded image
        var expandImg = document.getElementById("expandedImg");


        // Use the same src in the expanded image as the image being clicked on from the grid
        expandImg.src = imgs.src;

        // Use the value of the alt attribute of the clickable image as text inside the expanded image
        imgText.innerHTML = imgs.alt;



        // Show the container element (hidden with CSS)
        expandImg.parentElement.style.display = "block";

      }
      // Put Border On Style Image
      let boxes = Array.from(document.querySelectorAll('.box'));

      const handleClick = (e) => {
        e.preventDefault();
        boxes.forEach(node => {
          node.classList.remove('selected');
        });
        e.currentTarget.classList.add('selected');

      }

      boxes.forEach(node => {
        node.addEventListener('click', handleClick)
      });

    </script>
  </main>

{% endblock content %}