{% extends "store/base.html" %}

{% block content %}

  <main class="top-margin-80">
    <div class="container">
      <h1>Refund policy</h1>
      <p>We’re so convinced you’ll absolutely love our products, that we’re
        willing to offer a 7 day risk free money back guarantee.
        If you receive your order and are not satisfied for any
        reason you can return the product for a refund within 7 days of
        receiving the purchase.</p>
      <h2>Proof of purchase</h2>
      <p>To complete your refund, we require a receipt, purchase
        order or other proof of purchase. Please note that without
        the aforementioned proof of purchase, we will not issue a refund.</p>
      <h2>Shipping items</h2>
      <p>In order to return an order, you must contact us first.</p>
      <p>Returns can be mailed to: TBD. You will be responsible for
        paying for the shipping costs with regard to the items that
        you wish to return. We will refund the shipping costs upon
        receiving the items.</p>
      <p>You must take care to ensure that the goods are properly packaged
        so that they will not be damaged while in transit. If the product
        is found damaged or used beyond what it takes for us to reasonably
        inspect it, then we may reject a refund.</p>
      <h2>Contacting us</h2>
      <p>If you have any questions, concerns, or complaints regarding this
        refund policy, we encourage you to contact us using the details
        below:</p>
      <p><a target="_blank" rel="nofollow" href="http://whichga.me/contact">
        http://ramashades.com/contact/</a></p>
      <p>This document was last updated on October 7, 2021</p>
    </div>
  </main>


{% endblock content %}
