{% extends "store/base.html" %}

{% block content %}

  <main class="top-margin-80">
    <div class="container">
      <h1>Shipping Time</h1>
      <p>We ship all items with tracking via USPS for a flat rate of $5 for the first item and $1.00 each additional.
      We offer free US shipping for orders over $35.00.</p>
      <h2>Delivery Time</h2>
      <p>Deliveries usually take 1-2 weeks but can take up to 4 weeks.</p>
      <h2>International Orders</h2>
      <p>We currently don't offer international shipping.</p>
    </div>
  </main>


{% endblock content %}